<div class="card" style="background-color:#6C60B5 !important;">
    <div class="card-body text-center bg-center bannerIUSH">
        <div class="row">
            <div class="col-12 text-white">
                <img class="img-thumbnail circle thumb128" src="~/Content/Images/user/user.jpg" alt="Image" />
                <h3 class="m-1">Tiendas</h3>
                <h3 class="m-4">EVERTEC</h3>

            </div>
        </div>
    </div>


    <div class="mt-1">

        <div class=" row">
            <div class=" col-xl-12">

                <div class="text-white bg-dark">
                    <br />
                    <div class="card-header text-center">
                        <h3>¡Hola @User.Identity.Name, Bienvenido(a)! al sistema de compras online de las tiendas EVERTEC</h3>
                    </div>

                    <div class="card-body text-center">

                        <div class="row">
                            <div class=" col-12">
    
                                <br />
                                <button onclick="security_Index.logOff();" class="btn btn-danger">Cerrar Sesión</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

@section Scripts {

    <script type="text/javascript">



        $(document).ready(function () {


        });

    </script>
}