@using EVERTEC.TIENDA.Across;
<p>Copyright &copy; 2021 - @DateTime.Now.Year - EVERTEC Versión: @typeof(EVERTEC.TIENDA.WEB.MvcApplication).Assembly.GetName().Version - Fecha de compilación @Common.GetFechaCompilacion(typeof(EVERTEC.TIENDA.WEB.MvcApplication).Assembly).ToString()</p>
