
<div class="content">
    
    @*<div class="text-center">
        <div class="mb-3">
            <em class="fa fa-wrench fa-6x text-muted"></em>
        </div>
        <div class="text-lg mb-3">Error 500</div>
        <p class="lead m-3">Oh! Algo salió mal :(</p>
        <p>No te preocupes, ahora estamos comprobando esto.</p>
        <p>Mientras tanto, pruebe uno de los enlaces a continuación o vuelva en un momento.</p>
    </div>
    <ul class="list-inline text-center text-sm mb-5">
        <li class="list-inline-item">
            <a class="" href="/">Regresar</a>
        </li>
        <li class="text-muted list-inline-item">|</li>
        <li class="list-inline-item">
            <a class="" href="@Url.Action("Welcome", "Home")">Ingresar de  nuevo</a>
        </li>

    </ul>*@

    <div class="loading text-center" id="div_error">
        <div class="text-lg mb-3">Error 500</div>
        <p class="lead m-3">Oh! Algo salió mal :(</p>
        <p>No te preocupes, ahora estamos comprobando esto.</p>
        <a class="" href="@Url.Action("Welcome", "Home")">Ingresar de  nuevo</a>
        <div class="gears mt-5">
            <div class="gear one">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div class="gear two">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div class="gear three">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

        <script>
            $(function () {

                setTimeout(function () {
                    $('#div_error').removeClass('loading');
                }, 1000);
            });
        </script>
    </div>

</div>
